<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<% include ./head %>
	
	p.big {
		line-height: 1.8;
	}
	
	input[type=submit] {
		width: 100%;
		background-color: #99FF99;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #66FF66;
    }
</style>
<script type="text/javascript" src= "/javascripts/profile.js"></script>
</head>

<body>
	<header>
		<% include ./header %>
	</header>
				
<div class="container">

	<div class="page-header text-center">
		<h1> Welcome <%= user[0].username %> </h1>
		<!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a> -->
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<!-- left panel -->
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="well">
				<h3><span class="fa fa-user"></span> User Information </h3>

					<p class="big">
						<strong>id</strong>: <%= user[0].user_id %><br>
						<strong>username</strong>: <%= user[0].username %><br>
						<strong>uploaded file</strong>: <%= user.length %><br>
					</p>

			</div>
			<div class="well">
				<h3> Filter </h3>
				<form action="/profile/<%= user[0].user_id %>/filter" class="FilterFile" method="post">
					<div class="form-group">
						<label for="month"> month </label>
						<select class="form-control month" id="month" name="month">
							<option>None</option>
							<option>January</option>
							<option>February</option>
							<option>March</option>
							<option>April</option>
							<option>May</option>
							<option>June</option>
							<option>July</option>
							<option>August</option>
							<option>September</option>
							<option>October</option>
							<option>November</option>
							<option>December</option>
						  </select>
						<!-- <input type="text" class="form-control month" id="month" name="month"> -->
						
					</div>
					<div class="form-group">
						<label> year </label>
						<input type="text" class="form-control year" id="year" name="year">
						<small class="form-text text-muted">ex. 2016, 2017, 2018, ...</small>	
					</div>
					<div class="form-group">
						<label> file name </label>
						<input type="text" class="form-control file_name" id="file_name" name="file_name">
						<small class="form-text text-muted">ex. Hello.jpg, World.mp4, ...</small>	
						</div>
					<br>
					<br>
					<input type="submit" value="Filter">  
				</form>
			</div>
		</div>
		<!-- DOWNLOAD LIST -->
		<!-- right panel -->
		<div class="col-xs-12 col-sm-6 col-md-8">
			<% for(var i=0; i < user.length; i++) { %>
			<div class="well">
				<h4><span class="fa fa-user"></span> <%= user[i].file_name %> </h4>
				<br>
				<!-- <img src="../uploads/<%= user[i].username %>/<%= user[i].file_name %>" width="50" height="50">
				<br>
				<br> -->
				<p class="big">
					<strong>uploader</strong>: <%= user[i].username %> <br>
					<strong>transaction</strong>: <%= user[i].transaction %> <br>
					<strong>upload at</strong>: <%= user[i].created_at %> <br>
					<!-- <strong>download</strong>: <a href="/profile/<%= user[0].user_id %>/<%= user[0].file_name %>"> Link </Link> </a> <br> -->
					<!-- <strong>password</strong>: <%= user.password %> -->
				</p>
				<a class="btn btn-primary" href="/profile/<%= user[0].user_id %>/<%= user[0].file_name %>" role="button">Download</a>
				<a class="btn btn-danger" href="#" role="button">Delete</a>
			</div>
			<% } %>
		</div>
			

</div>
	<br><br><br>

	<footer>
		<% include ./footer %>
	</footer>
</div>
</body>
</html>